/* Basisinstellingen */
*


/* Basislayout */
* {
    overflow:hidden; /* zorgt dat boz hoogte krijgt van wt erin zit */
    box-sizing:border-box; /* zorgt dat padding en border binnen afmetgin van box vallen */
    border: 2px solid re
}

html, body {
    overflow:visible;
    height: 100%;
    padding: 0;
    background-color:tan;  
    color: #030000;
    font: Verdana, Arial, Sans-Serif;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
    background-color:ta;
}


article {
    text-align: justify;
}


header {
    color: rgb(172, 32, 32);
    text-align: center;
}



footer {
    text-align: center;
    padding-bottom: 10px;
    
    
}


/* specifieke stijlen */
/* homepage */
img.zweeflinks {
    float: left;
    margin-left:20px;
    margin-top: 25px;
    padding: 1px;
    height:150px;
    }

img.zweefrechts {
    float: right;
    margin-left:15px;
    margin-top: 26px;
    padding: 1px;
    height:150px;
    }    

img.homepage {
    float: right;
    margin-right: 15px;
    margin-top:50px;
    padding: 1px;
    width: 240px
}

p.text1 { 
    border: 3px double black;
    padding: 4px;
    background-color:rgb(142, 214, 190);
    width:60%;
    float:left;
    margin-top:15px;
    margin-left:20px;
    text-align:center;
}

/* CSS voor de subpaginas */
.plaatjelinks {
    float: left;
    margin-top: 7px;
    margin-left:15px;
    width: 250px;
}

.plaatjerechts {
    float: right;
    overflow:auto;
    margin-top:-325px;
    margin-bottom:30px;
    margin-right:15px;
    width: 240px;
}

.plaatjebackup {
    float: right;
    overflow:auto;
    margin-top:-180px;
    margin-bottom:30px;
    margin-right:15px;
    width: 240px;
}

.rechts {
    width: 60%;
    float: right;
    border: 3px double black;
    padding: 4px;
    background-color: lightblue;
    font-family:'Times New Roman', Times, serif;
    margin-top: 15px;
    margin-right:15px;
}


.links {
    width: 55%;
    float:left;
    border: 3px double black;
    padding: 4px;
    background-color: lightsteelblue;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 2px;
    margin-top:8px;
    margin-right:60px;
    margin-left: 5px;

}

details {
    color:red;
}

.smalltext {
    font-size: 0.7em;
    
}

/* link */
a {
    color: red;
    text-decoration:underline;
    font-weight:bold;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #a32a2a;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(132, 102, 243);
    border: 2px solid white;
}


